<head>
	<link rel="stylesheet" href="/css/style.css">

</head>
{{email}}
{{password}}

<div class="jumbotron">
	<div class="container">
		<div class="image">
			<div class="trick"></div>
			<img src="background/bg1.png" />
		</div>
		<div class="header">
			<h1 style="font-weight: 700; size:96px; text-align: center; line-height: 100px;">Edutor</h1>
			<h2 style="font-weight: 700; size:90px; text-align: center;">Find a tutor for your education</h2>
		</div>

	</div>
	<br>
</div>

<div class='home'>

</div>


<script>