<head>
    {{>_bootstrap_jquery}}
    <link rel="stylesheet" href="/css/recommender.css">
    <script src="/js/recommender.js"></script>
</head>

<form action="" method="post">
    <div class="container">
        <div class="plans">
            <div class="title">Choose your interest!</div>
            {{#each categories}}
            <label class="plan basic-plan" for={{title}}>
                <input checked type="checkbox" name="package" value={{title}} id={{title}} />
                <div class="plan-content">
                    <img loading="lazy"
                        src="https://raw.githubusercontent.com/ismailvtl/ismailvtl.github.io/master/images/life-saver-img.svg"
                        alt="" />
                    <div class="plan-details">
                        <span>{{title}}</span>
                        {{!-- <p>Beginner Level</p> --}}
                    </div>
                </div>
            </label>
            {{/each}}
            <a href="/" class=" btn btn-success" role="button" aria-pressed="true">SKIP</a> <button class="btn btn-success next">NEXT</button>
<<<<<<< HEAD

=======
>>>>>>> e5997682c753954c1110fa2d8678bb1d34321896
        </div>
    </div>
</form>