<head>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

</head>

<div class="container-fluid dashboard">
  {{#if_eq user.roles "admin"}}
  <h1 style="font-weight: 700; font-size: 20px;   text-transform: uppercase; margin-top: 15px;"> ADMIN | Overview</h1>
  <div id="root">
    <div class="container pt-5">
      <div class="row align-items-stretch">
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Number of Students<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span id="getstudentCount"
              class="hind-font caption-12 c-dashboardInfo__count">{{studentCount}}</span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Number of Tutors<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">{{tutorCount}}</span><span
              class="hind-font caption-12 c-dashboardInfo__subInfo"></span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Net Amount<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">${{netAmount}}</span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Revenue<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" container-fluid justify-content-center chart-container"
    style="position: relative; height:10vh; width:50vw">
    <canvas id="lastSevenDaysOverview"></canvas>

  </div>


  {{/if_eq}}


</div>

<script>




  const Orderlabels = []

  let start = new Date(),
    end = new Date();
  start.setDate(start.getDate() - 7); // set to 'now' minus 7 days.
  start.setHours(0, 0, 0, 0); // set to midnight.

  var OrdersChart = new Chart(document.getElementById("lastSevenDaysOverview"), {
    type: "line",
    data: {
      labels: Orderlabels,
      datasets: [{
        label: 'Orders',
        data: [
          {

          }, {

          }, {

          }, {

          }, {

          }, {

          }, {

          }, {

          }
        ],
        borderColor: '#ff3366',
        backgroundColor: '#ff3366',
      },
      ]
    },
    options: {
      interaction: {
        mode: 'index',
        intersect: true,
      },
      responsive: true,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          suggestedMin: 1,
          suggestedMax: 20,
          ticks: {
            precision: 0
          }
        },
        x: {
          type: "time",
          min: start,
          max: end,
          time: {
            unit: "day"
          }
        },

      },
      plugins: {
        tooltip: {
          callbacks: {
            title: (context) => {
              month = context[0].label.split(',')[0];
              return `${context[0].raw['y']} Order on ${month}`;
            }
          }
        }
      },
    }
  });






  function getStatisticForOrder() {
    $.get('/dashboard/statisticForOrders', (res) => {
      counter = 0
      var keys = Object.keys(res['b']);
      for (var i = 0; i < keys.length; i++) {
        OrdersChart.data.datasets[0].data[i]['x'] = new Date(keys[i]);
        OrdersChart.data.datasets[0].data[i]['y'] = res['b'][keys[i]];
      }

      OrdersChart.update()


    })
  }








  $(document).ready(() => {
    getStatisticForOrder()
    // Setting how long to send request to client side, now its every 10 second one live update
    setInterval(getStatisticForOrder, 10000)

  })


</script>