<head>
<link rel="stylesheet" href="/css/dashboard.css">
</head>

<div class="container-fluid dashboard"> 

<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control form-control-lg" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control form-control-lg" placeholder="Last name">
    </div>
  </div>
</form>
</div>