<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/formfield.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class="container">
        <div class="title">Consultation Slots</div>
        <div class="content">
            <form method="POST" action="">
                <div class="user-details mb-3">
                    {{!-- title --}}
                    <div class="input-box mb-3">
                        <span class="details">Title</span>
                        <input type="text" placeholder="Enter Consultation Slot name" name="title" class="form-control"
                            required>
                    </div>


                    {{!-- file upload ;; todo: fix css for this --}}
                    <div class="input-box mb-3">
                        <span class="details">Image</span>
                        <div class="custom-file mb-2">
                            <input type="file" class="form-control custom-file-input" id="consultationUpload"
                                name="consultationUpload" accept="image/png,image/jpeg,image/jpg,image/gif">
                            <label class="custom-file-label" for="customFile">Choose File</label>

                        </div>
                        <div class="text-danger small mb-3" id="consultationErr" style="display:none"></div>
                        <img id="consultation" src="/profile/profile.png" height="100" width="100" alt="Consulation"
                            class="border img-thumbnail img-fluid">
                        {{!—- Hidden field to submit URL of poster to the server --}}
                        <input id="consultationURL" type="hidden" name="consultationURL">
                    </div>


                    {{!-- price --}}
                    <div class="input-box mb-3">
                        <span class="details">Enter Price of course</span>
                        <input type='number' name="price" step='0.05' value='10.00' class="form-control" required>
                    </div>

                    {{!-- date --}}
                    <div class="input-box mb-3">
                        <span class="details">Date</span>
                        <input class="form-control" name="consultDate" id="datepicker" required>
                    </div>

                    {{!-- start time --}}
                    <div class="input-box mb-3">
                        <span class="details">Start time</span>
                        <input type="time" id="start_time" name="start_time" class="form-control" name="end_time"
                            min="09:00" max="21:00" value="09:00" required>
                    </div>
                    {{!-- end time --}}
                    <div class="input-box mb-3">
                        <span class="details">End time</span>
                        <input type="time" id="end_time" name="end_time" class="form-control" name="end_time"
                            min="09:00" max="21:00" value="09:00" required>
                    </div>
                </div>

                {{!-- description --}}
                <div class="input-box mb-3">
                    <span class="details">Description</span>
                    <textarea class="form-control" placeholder="Enter description of course" name="description"
                        required></textarea>
                </div>

                {{!-- google recaptcha --}}
                <div class="input-box mb-3">
                    <div class="g-recaptcha" data-sitekey="6LdLCYogAAAAAFD2kxI4DzSqiVPQsB3m2lDA4Ra_"></div>
                </div>

                {{!-- submit --}}
                <div class="button">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

    <script>
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            value: moment().format('DD/MM/YYYY')
        });

    </script>
</body>

</html>