<head>
    <link rel="stylesheet" href="/css/style.css">


</head>
{{email}}
{{password}}

<div class="jumbotron">
    <div class="container">
        <div class="image">
            <div class="trick"></div>
            <img src="../background/roomnotfound.jpg" />
        </div>
        <div class="header">
            <h1 style="font-weight: 700; size:96px; text-align: center; line-height: 100px;">Room Not Found!</h1>
            <h2 style="font-weight: 700; size:90px; text-align: center;">Be Patient! Your tutor will be creating the conference link soon.</h2>
            <a href="http://jeremy.chip.sg/student/consultation/settings" class="btn btn-primary">Back to Previous Page</a>
        </div>

    </div>
    <br>
</div>

<div class='home'>

</div>


<script>