<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/formfield.css">
</head>

<body>
    <div class="container">
        <div class="title">Consultation Slots</div>
        <div class="content">
            <form method="POST" action="">
                <div class="user-details mb-3">
                    <div class="input-box mb-3">
                        <span class="details">Title</span>
                        <input type="text" placeholder="Enter Consultation Slot name" name="title" class="form-control"
                            required>
                    </div>
                    <div class="input-box mb-3">
                        <span class="details">Image</span>
                        <input type="file" placeholder="Enter Consultation Slot name" name="image" class="form-control"
                            accept="image/png, image/jpeg, image/jpg" required>
                    </div>
                    <div class="text-danger small mb-2" id="cover" style="display:none"></div>
                    <div class="input-box mb-3">
                        <span class="details">Description</span>
                        <input type="text" class="form-control" placeholder="Enter description of course"
                            name="description" required>
                    </div>
                    <div class="input-box mb-3">
                        <span class="details">Date</span>
                        <input type="date" class="form-control" name="date" required>
                    </div>
                    <div class="input-box mb-3">
                        <span class="details">Start time</span>
                        {{!-- <input type="time" class="form-control" id="start_time" min="09:00" max="19:00" required>
                        --}}
                        <input type="text" class="form-control" name="start_time" required>


                    </div>
                    <div class="input-box mb-3">
                        <span class="details">End time</span>
                        <input type="text" class="form-control" name="end_time" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

</body>

</html>