<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div class="container">

    <div style="margin-top: 5%;" class="register-center">
        <h1>Setup Google Authenticator</h1>
        <h2 style="font-size: 20px;">Confirmation mail has been sent to your inbox! Please verify account in email before <span style="color:red;">login
                in!</span></h2>
        <img width="30%" height="30%" src="{{qrcode}}" />
        {{!-- <h4 style="font-weight: 700">Confirmation mail has been sent to your inbox! Please verify before login in</h2> --}}
    <a href="/auth/login" style="margin-top: 5%;" class="form-control form-control-lg register-submit btn btn-success" role="button"
        aria-pressed="true">Login</a>    </div>




</div>