<head>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="common.js"></script>
    <script src="/js/croppie.js"></script>
    <style>
     #example1 {
    padding: 15px;
    box-shadow: 0px 0.5px 2px grey;
    margin: 15px;
         }
  .button {
    background-color: #5CBF8F; /* Green */
    border: none;
    color: white;
    padding: 10px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .table-condensed td {
    border: none !important;
    }

  .select-wrap {
    border: 1px solid #777;
    width:150px;
    background-color:#fff;
    position:relative;
  }
  .select-wrap label{
    font-size:8px;
    text-transform: uppercase;
    color: #777;
    padding: 0 8px; 
    margin-top: -1%; 
    position: absolute;
    top:6px;
  }

  select{
    background-color: #fff;
    border:0px;
    height:40px;
    font-size: 16px;
    padding-left: 3%;
    padding-top: 4%;
    font-size: 13px;
    margin-right: 4%;
  }

    label {
        display: block;
    }

    input[type="radio"]{
        width: auto;
        display: inline;
    }
    </style>

</head>

<div class="container-fluid dashboard">
    <div class="container mt-5" style="margin-left:-10%">
        <h1 style="font-weight: 700; font-size: 20px; text-transform: uppercase;">orders</h1>
            <div id="example1" style="margin-left: -7px;width:120%;padding-top:3%;padding-bottom:3%;padding-right:3%;">
                <table>
                    <tr>
                    <td style="width: 10%;">
                        <h6 style="font-size: 13px;">No.</h6>
                        <hr>
                    </td>

                    <td style="width: 20%;">
                        <h6 style="font-size: 13px;">Date</h6>
                        <hr>
                    </td>
                    <td style="width: 13%;">
                        <h6 style="font-size: 13px;">Total</h6>
                        <hr>
                    </td>
                    <td style="width: 15%;">
                        <h6 style="font-size: 13px;">Actions</h6>
                        <hr>
                    </td>
                    </tr>
                    {{#if orders}}
                        {{#each orders}}
                        <tr>
                            <td style="width: 10%;">
                                <h6 style="font-size: 13px;">Order #{{order_id}}</h6>
                                <hr>

                            <td style="width: 20%;">
                                <h6 style="font-size: 10px;">SGD {{createdAt}}</h6>
                                <hr style="margin-top:5.5%;">
                            </td>
                            <td style="width: 13%;">
                                <h6 style="font-size: 13px;margin-bottom:7%;">SGD {{totalPrice}}</h6>
                                <hr style="margin-top:2.5%;">
                            </td>
                            <td style="width: 15%;">
                                <a href="/dashboard/vieworder/{{order_id}}">
								<i class="fa fa-eye" aria-hidden="true" style="font-size: 15px;"></i></a>&nbsp;
                                
                                <hr>
                            </td>
                        </tr>
                        {{/each}}
                    {{/if}}

                </table>
            </div>

    </div>
</div>

</section>